@model RoleRestriction.Models.Movie

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Create", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        @Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AvailableSeats)
        @Html.TextBoxFor(m => m.AvailableSeats, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateToBook)
        @Html.TextBoxFor(m => m.DateToBook, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}